/* Import Tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Open Sans, sans-serif;
}

h1 {
  color: #f1f5f9;
}

@layer components {
  .container {
    @apply w-[90%] lg:w-[58%] mx-auto;
  }
  .btn-primary {
    @apply bg-primary hover:bg-pink-600 transition ease-linear text-white text-lg font-normal capitalize rounded-b-sm block font-open;
  }
  .btn-secondary {
    @apply bg-tertiary hover:bg-slate-800 transition ease-linear text-white text-lg font-normal capitalize rounded-sm block font-open;
  }
}
