.header {
  clip-path: polygon(0 0, 700% 0, 0 100%, 0 0);
}

@media screen and (max-width: 600px) {
  .header {
    clip-path: polygon(0 0, 4000% 0, 0 100%, 0 0);
  }
}
.paleBlueBg {
  background-color: #f1f5f9;
}
