/* About page */
.spliter:first-child::after {
  content: "";
  width: 10px;
  height: 100px;
  background-color: rgb(249 168 212);
  display: inline-block;
}
.line {
  width: 75%;
  margin: 0 auto;
}
